<html>
    <body>
        <h1>Reasons I love Lucy!</h1>
        <ol>
            <li>She is cute</li>
            <li>She cares about me</li>
            <li>She gives great <b>cuddles</b></li>
        </ol>
        <p>Lucy, a name so sweet and true,
        <br>A girl whose heart is pure and blue,
        <br>With eyes that sparkle like the night,
        <br>And a smile that fills the world with light.
        <br><br>
        <br>Her hair flows like a river stream,
        <br>Her voice, a melody, like a dream,
        <br>Her laughter echoes through the air,
        <br>A sound so pure, so bright, so rare.
        <br><br>
        <br>She walks with grace, as if she's dancing,
        <br>Her steps are light, as if she's prancing,
        <br>She radiates joy with every move,
        <br>And makes the world a better groove.
        <br><br>
        <br>Lucy, a name that means light,
        <br>A beacon shining through the night,
        <br>A girl so gentle, kind and true,
        <br>May her light always shine on you.</p>
        <form>
            <label for='question'>Did you like this?</label>
            <input type='checkbox' id='question' value='yes'>
            <input type='submit' value="submit">
        </form>
        This is a test, Hey {{name}}
        <ul style="border:1px; border:solid">
            <li>Hello</li>
            <li>Hello2</li>
        </ul>
    </body>
</html>